<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home - Real Estate Valuation Model</title>
        <link rel="stylesheet" href="/static/styles_root.css">
    </head>
    <body>
        <div class="home-container">
            <h1>Real Estate Valuation Model</h1>
            <ul>
                <li><a href='/properties'>Property List</a></li>
                <li><a href='/newproperty'>Add Property</a></li>
            </ul>
        </div>
    </body>
    </html>